.counter {
  position: absolute;
  right: 4%;
  top: 12%;
  font-size: 400px;
  font-weight: 900;
  line-height: 1;
  color: rgba(255, 255, 255, 0.01);
  letter-spacing: -0.02em;
  z-index: 0;
}

@media (max-width: 992px) {
  .counter {
    font-size: 200px;
    top: 0;
    transform: translateY(-85%);
  }
}

@media (max-width: 768px) {
  .counter {
    right: 0;
    font-size: 120px;
  }
}
