.loanList {
  padding: clamp(40px, 1.5rem + 5vw, 4rem) 0 calc(clamp(40px, 1.5rem + 5vw, 4rem) + 40px) 0;
  color: var(--color-blue-600);
  background-color: var(--color-white);
  text-align: center;
  clip-path: var(--clip-path-secondary);
}

.loanListWrapper {
  margin-bottom: clamp(1rem, 1rem + 5vw, 3rem);
}

.loanListInner {
  position: relative;
}
