@font-face {
  font-family: Visby;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/VisbyRegular.woff') format('woff');
}

@font-face {
  font-family: Visby;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/VisbyMedium.woff') format('woff');
}

@font-face {
  font-family: Visby;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/VisbySemibold.woff') format('woff');
}

@font-face {
  font-family: Visby;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/VisbyBold.woff') format('woff');
}

@font-face {
  font-family: Visby;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/VisbyExtrabold.woff') format('woff');
}

@font-face {
  font-family: Visby;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/VisbyHeavy.woff') format('woff');
}

:root {
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  /* font-family */
  --font-family: 'Visby', sans-serif;

  /* font-weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* color */
  --color-blue-100: #00d3f2;
  --color-blue-200: #068ba0;
  --color-blue-400: #338ff0;
  --color-blue-500: #4c8ce6;
  --color-blue-600: #3c7bea;
  --color-gold-400: #ffd700;
  --color-white: #fff;
  --color-black: #1a1a1a;
  --color-gradient-100: linear-gradient(135deg, #00d3f2 0%, #00b8db 100%);

  /* radius */
  --radius-main: 8px;

  /* line heights  */
  --line-height-normal: 1.5;

  /* letter spacing  */
  --letter-spacing-none: 0;
  --top-padding: 20px;

  /* clip-path */
  --clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
  --clip-path-bottom: polygon(0 0, 100% 0, 100% 0, 0 10%);
  --clip-path-secondary: polygon(0 0, 100% 0, 100% 95%, 0% 100%);

  @media screen and (max-width: 1440px) {
    --clip-path-bottom: polygon(0 0, 100% 0, 100% 0, 0 4%);
    --clip-path-secondary: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
  }

  @media screen and (max-width: 768px) {
    --clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    --clip-path-bottom: polygon(0 0, 100% 0, 100% 0, 0 2%);
  }
}

.page {
  font-family: var(--font-family);
  font-weight: var(--fw-400);
  font-style: normal;
  font-size: clamp(1rem, 1.1rem + 0.254vw, 1.3rem);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-none);
  color: var(--color-blue-100);
  background-color: rgba(43, 124, 237, 0.927);
  font-optical-sizing: auto;

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }

  &.open {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  overflow-x: clip;
  min-height: 100dvh;
}

/* Fixed header spacing */
.main {
  padding-top: calc(
    var(--header-height) + 20px
  ); /* fallback to 105px if JS not loaded */
}

.main--singlepost {
  padding-block: clamp(80px, 10vw, 200px);
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: calc(
      var(--header-height) + 20px
    ); /* fallback to 80px on mobile */
  }
}

img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-main);
  overflow: hidden;
}

.dis-scroll {
  overflow: hidden;
  overscroll-behavior: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

.phone {
  position: relative;
  padding-left: 28px;

  &::before {
    content: '';
    margin-inline-end: 10px;
    width: 18px;
    height: 18px;
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14.05 6C15.0268 6.19057 15.9244 6.66826 16.6281 7.37194C17.3318 8.07561 17.8095 8.97326 18 9.95M14.05 2C16.0793 2.22544 17.9716 3.13417 19.4163 4.57701C20.8609 6.01984 21.7721 7.91101 22 9.94M18.5 21C9.93959 21 3 14.0604 3 5.5C3 5.11378 3.01413 4.73086 3.04189 4.35173C3.07375 3.91662 3.08968 3.69907 3.2037 3.50103C3.29814 3.33701 3.4655 3.18146 3.63598 3.09925C3.84181 3 4.08188 3 4.56201 3H7.37932C7.78308 3 7.98496 3 8.15802 3.06645C8.31089 3.12515 8.44701 3.22049 8.55442 3.3441C8.67601 3.48403 8.745 3.67376 8.88299 4.05321L10.0491 7.26005C10.2096 7.70153 10.2899 7.92227 10.2763 8.1317C10.2643 8.31637 10.2012 8.49408 10.0942 8.64506C9.97286 8.81628 9.77145 8.93713 9.36863 9.17882L8 10C9.2019 12.6489 11.3501 14.7999 14 16L14.8212 14.6314C15.0629 14.2285 15.1837 14.0271 15.3549 13.9058C15.5059 13.7988 15.6836 13.7357 15.8683 13.7237C16.0777 13.7101 16.2985 13.7904 16.74 13.9509L19.9468 15.117C20.3262 15.255 20.516 15.324 20.6559 15.4456C20.7795 15.553 20.8749 15.6891 20.9335 15.842C21 16.015 21 16.2169 21 16.6207V19.438C21 19.9181 21 20.1582 20.9007 20.364C20.8185 20.5345 20.663 20.7019 20.499 20.7963C20.3009 20.9103 20.0834 20.9262 19.6483 20.9581C19.2691 20.9859 18.8862 21 18.5 21Z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    transition: background-color 0.15s ease-in-out;
  }
}

section {
  padding-block: clamp(80px, 5vw, 120px);
}

.Toastify {
  padding-block: 0;
}

h1 {
  font-weight: var(--fw-800);
  font-size: clamp(1.5rem, 1.5rem + 1.25vw, 2rem);
  text-transform: capitalize;
}

h2 {
  font-weight: var(--fw-600);
  font-size: clamp(1.2rem, 1.4rem + 1.25vw, 1.7rem);
  text-transform: capitalize;
  margin-block-end: clamp(1.5rem, 1.5rem + 5vw, 2.5rem);
}

h3 {
  font-weight: var(--fw-600);
  font-size: clamp(1rem, 1.2rem + 1.25vw, 1.5rem);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: clamp(20px, 5vw, 70px);
}

.slogan {
  --side-padding: clamp(25px, 5vw, 35px);

  position: relative;
  display: inline-block;
  margin-block-end: 20px;
  padding-inline-start: calc(var(--side-padding) + 10px);
  width: max-content;
  font-weight: var(--fw-600);
  font-size: clamp(0.8rem, 0.8rem + 0.254vw, 1rem);
  text-transform: uppercase;
  color: var(--color-gold-400);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 100%;
    height: 3px;
    max-width: var(--side-padding);
    background-color: var(--color-gold-400);
    transform: translateY(-50%);
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
  }

  &::after {
    display: none;
  }
}

.slogan--reverse {
  color: var(--color-blue-500);

  &::before,
  &::after {
    background-color: var(--color-blue-500);
  }
}

.slogan--double {
  padding-inline: var(--side-padding);

  &::after {
    display: block;
    right: -10px;
    left: auto;
  }
}

@media screen and (max-width: 992px) {
  .slogan {
    margin-inline: auto;
    text-align: center;
  }
}

.hero-section {
  margin-block-start: var(--top-padding);
}

.button[type='button'],
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: max-content;
  background-color: var(--color-white);
  border: 1px solid var(--color-blue-500);
  color: var(--color-blue-500);
  font-weight: var(--fw-600);
  font-size: clamp(0.7rem, 0.75rem + 0.254vw, 0.8rem);
  border-radius: var(--radius-main);
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  overflow: hidden;
  text-transform: capitalize;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-blue-500);
    transition: width 0.3s linear;
    z-index: 1;
  }

  &::after {
    content: '';
    margin-inline-start: 20px;
    width: 20px;
    height: 20px;
    mask-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666992 0.666626L5.33366 5.33329L0.666992 9.99996' stroke='%2300D3F2' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: currentColor;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s linear;
  }

  &:hover {
    color: var(--color-white);
    border-color: var(--color-white);

    &::before {
      width: 100%;
    }

    span::before {
      background-color: currentColor;
    }
  }

  span {
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -10px;
      width: 1px;
      height: 100%;
      background-color: currentColor;
      transition: background-color 0.3s linear;
    }
  }
}

.button--reverse[type='button'] {
  border-color: var(--color-white);
  color: var(--color-white);
  background-color: rgba(43, 124, 237, 0.927);

  &::before {
    background-color: var(--color-blue-100);
  }

  &:hover {
    border-color: var(--color-blue-100);

    span {
      color: var(--color-white);
    }
  }
}

.button--colored {
  background-color: var(--color-gold-400);
}

.error404Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  color: var(--color-white);
}

.error404ImageWrap {
  width: 100%;
  max-width: 560px;
  animation: moved 2s ease-in-out infinite alternate;
  will-change: transform;
}

@keyframes moved {
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: translate3d(10px, 0, 0);
  }
  100% {
    transform: translateZ(0);
  }
}

.singlepost {
  color: var(--color-blue-600);
  background-color: var(--color-white);
}

.button--back {
  margin-block-end: 30px;
  scale: -1 1;

  span {
    scale: -1 1;
    &::before {
      display: none;
    }
  }
}

h2 {
  margin-block-end: 1.5rem;
}

.singlepost__media {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-main);
  margin-block-end: 30px;
}

.singlepost__image {
  max-height: 450px;
}

.singlepost__category {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(43, 124, 237, 0.927);
  color: var(--color-white);
  padding: 6px 14px;
  border-radius: calc(var(--radius-main) * 2);
  font-size: 12px;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.singlepost__date {
  display: block;
  color: var(--color-blue-500);
  font-weight: var(--fw-600);
  margin-bottom: 10px;
}

.singlepost__content p:not(:last-child),
.singlepost__content ul:not(:last-child) {
  margin-block-end: 1rem;
}

.singlepost__content {
  ul {
    padding-left: 1.5rem;
    margin-block-end: 1rem;

    li {
      padding-left: 1rem;
      &:not(:last-child) {
        margin-block-end: 1rem;
      }
      &::marker {
        content: '✓';
        margin-right: 15px;
      }
    }
  }
}

.singlepost__content ul li:not(:last-child) {
  margin-block-end: 1rem;
}

.singlepost__wrapper {
  display: flex;
  margin-block-end: 1rem;
  gap: 1rem;

  img {
    max-height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .singlepost__wrapper {
    flex-wrap: wrap;
  }
}

.privacy {
  color: var(--color-blue-600);
  background-color: var(--color-white);

  a {
    color: var(--color-blue-600);
    text-decoration: underline;
  }
}

.privacy__content {
  strong {
    font-weight: var(--fw-600);
    text-transform: uppercase;
  }

  h2 {
    font-size: clamp(20px, 0.875rem + 1.1111vw, 30px);
    margin-block-end: 1.5rem;
  }

  h3 {
    font-size: clamp(18px, 0.875rem + 1.1111vw, 25px);
    margin-block-end: 1rem;
  }

  p:not(:last-child) {
    margin-block-end: 1rem;
  }

  ul {
    padding-left: 1.5rem;
    margin-block-end: 1rem;

    li {
      padding-left: 1rem;
      &:not(:last-child) {
        margin-block-end: 1rem;
      }
      &::marker {
        content: '✓';
        margin-right: 15px;
      }
    }
  }
}
