.input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #303132;
  align-self: stretch;
  height: 47px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 20px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--color-white);
  min-width: 235px;
  flex: 1;
}

.textarea {
  min-height: 114px;
  resize: none;
}

.input + div {
  position: absolute;
  bottom: -20px;
  left: 0;
  padding-top: 7px;
  align-self: flex-start;
  color: rgb(237 49 49);
}
