.homeCalculator {
  position: relative;
  color: var(--color-white);

  :global(.loanGrid) {
    grid-template-columns: 1fr;
  }
}

.homeCalculatorContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: clamp(1.5rem, 1.5rem + 5vw, 3.6rem);
  text-align: center;

  h2 {
    margin-block-end: 20px;
  }
}

.homeCalculatorWrapper {
  display: grid;
  grid-template-columns: minmax(408px, 1fr) minmax(586px, 1fr);
  justify-content: center;
  gap: clamp(1.5rem, 1.5rem + 5vw, 3.6rem);
}
