.builtWith {
  color: var(--color-white);
}
.purpose {
  color: var(--color-green-400);
}
.builtWithPurpose {
  margin: 0;
}
.builtWithPurposeContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
}
.h1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lineChild {
  width: 297px;
  position: relative;
  background-color: var(--color-gray-400);
  height: 2px;
}
.line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 100px;
}
.weBuiltThis {
  flex: 1;
  position: relative;
  line-height: 210%;
}
.text1 {
  width: 100%;
  max-width: 470px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.text,
.whyChooseOur {
  flex: 1;
  overflow: hidden;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 57px;
  min-width: 308px;
  text-align: left;
  font-size: 50px;
  color: var(--color-white);
}
.whyChooseOur {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
}
.featureItem {
  width: 410px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.iconBackgroundsChild {
  align-self: stretch;
  position: relative;
  background-color: #303132;
  height: 46px;
}
.iconBackgrounds {
  width: 112px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.featureDetailsChild {
  width: 6px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-green-400);
  height: 6px;
}
.fullProductOwnership {
  width: 358px;
  position: relative;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  flex-shrink: 0;
}
.featureContainers,
.featureDetails {
  display: flex;
  justify-content: flex-start;
}
.featureDetails {
  flex-direction: row;
  align-items: center;
  gap: 13px;
  z-index: 1;
}
.featureContainers {
  align-self: stretch;
  height: 46px;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 13px 10px 20px;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
}
.featuresOverview {
  width: 410px;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}
.blocks,
.data,
.featuresOverview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blocks {
  width: 100%;
  max-width: 540px;
  overflow: hidden;
  flex-direction: column;
  gap: 57px;
  text-align: left;
  font-size: 30px;
  color: var(--color-white);
}
.data {
  width: 100%;
  flex-direction: row;
  gap: clamp(30px, 2vw, 232px);
  line-height: normal;
  letter-spacing: normal;
  z-index: 0;
}

@media screen and (max-width: 1180px) {
  .blocks {
    flex: 1;
    max-width: 440px;
  }
}
@media screen and (max-width: 992px) {
  .builtWithPurposeContainer {
    font-size: 40px;
    line-height: 60px;
  }
  .whyChooseOur {
    font-size: 24px;
    line-height: 36px;
  }

  .text1 {
    max-width: 80%;
  }
  .data {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .text {
    gap: 28px;
  }
  .data {
    gap: 116px;
  }
  .text1 {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .builtWithPurposeContainer {
    font-size: 30px;
    line-height: 45px;
  }
  .whyChooseOur {
    font-size: 18px;
    line-height: 27px;
  }
  .blocks {
    gap: 28px;
    min-width: 100%;
  }
  .data {
    gap: 58px;
  }
}
