.footer {
  padding-block-end: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-gray-400);
}

.footer nav ul {
  display: flex;
  margin-block-end: 10px;
}

.footer nav ul li:not(:last-child) {
  margin-right: 20px;
}
