.withUs {
  color: var(--color-green-400);
}
.getInTouchContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  max-width: 595px;
}
.h1,
.lineChild {
  align-self: stretch;
}
.h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lineChild {
  position: relative;
  background-color: var(--color-gray-400);
  height: 2px;
}
.line {
  width: 297px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.scheduleADemo {
  margin: 0;
}
.scheduleADemoContainer {
  flex: 1;
  position: relative;
  line-height: 210%;
  max-width: 595px;
}
.text,
.text1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.text1 {
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}
.text {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: 57px;
  text-align: left;
  font-size: 50px;
  color: var(--color-white);
}
.fullName1 {
  /* margin-bottom: 5px; */
  flex: 1;
  position: relative;
  line-height: 18px;
  display: inline-block;
  overflow: hidden;
  height: 20px;
}
.h2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fullName,
.input {
  display: flex;
  flex-direction: column;
}

.fullName {
  position: relative;
  height: 77px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 10px 0;
  min-width: 251px;
  max-width: 391px;
}
.form1,
.form2,
.input4,
.yourQuestions {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.form2 {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px 31px;
}
.form1,
.input4,
.yourQuestions {
  flex-direction: column;
  align-items: flex-start;
}
.input4 {
  border: 0;
  background-color: #303132;
  height: 114px;
  width: auto;
  outline: 0;
  border-radius: 5px;
  padding: 14px 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: var(--color-gray-400);
  resize: none;
}
.yourQuestions {
  gap: 10px;
}
.form1 {
  gap: 30px;
}
.send {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 14px 74px;
  background-color: var(--color-green-400);
  width: 180px;
  height: 38px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.button:hover {
  background-color: #17b37a;
}
.data,
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.form {
  gap: 30px;
  max-width: 813px;
  text-align: left;
  font-size: 14px;
  color: var(--color-white);
  z-index: 3;
}
.data {
  gap: 40px;
  line-height: normal;
  letter-spacing: normal;
}

.image {
  position: absolute;
  left: 16%;
  top: 50%;
  z-index: 0;
  max-width: 360px;
}

.ourEmail,
.solidShape {
  align-self: stretch;
  position: relative;
}
.ourEmail {
  margin: 0;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.solidShape {
  height: 2px;
  max-width: 297px;
  background-color: var(--color-gray-400);
}
.frameChild {
  height: 54px;
  width: 63px;
  border-radius: 3px;
  object-fit: cover;
}
.infonabutonet {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 180%;
}
.frameParent,
.ourEmailParent {
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  flex-direction: row;
  align-items: center;
  padding: 0 26px 0 0;
  gap: 29px;
  font-size: 22px;
}
.frameChildIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 63px;
  border-radius: 3px;
  background-color: var(--color-green-400);
}
.ourEmailParent {
  padding-block: 84px;
  max-width: 540px;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 30px;
  color: #fff;
  font-family: Roboto;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  max-width: 330px;
}

@media screen and (max-width: 1440px) {
  .image {
    left: 10%;
  }
}
@media screen and (max-width: 1280px) {
  .image {
    display: none;
  }
  .ourEmailParent {
    padding-block: 50px;
  }
}

@media screen and (max-width: 1100px) {
  .fullName {
    max-width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .getInTouchContainer {
    font-size: 40px;
    line-height: 60px;
  }
  .form {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .getInTouchContainer,
  .scheduleADemoContainer {
    max-width: 100%;
  }
  .text {
    gap: 28px;
  }
  .data {
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  .getInTouchContainer {
    font-size: 30px;
    line-height: 45px;
  }
  .fullName {
    max-width: 100%;
  }
}
